@import './variables';
@import './vendor';

* {
	box-sizing: border-box;
}
body {
	background-image: url('../assets/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	text-align: center;

}
.count-down-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.large_text{
	font-size: 4.5rem;
	font-weight: bold;
	line-height: 20px;
}
.heading{
	font-size: 2.5rem;
}
